.header{
  padding: 10px 0;
  display: flex;
  height: 10vh;
  justify-content: center;
  background-color: cornflowerblue;
  color: white;
  font-family: 'Shizuru', cursive;
}
.header__title{
  margin-left: 15px;
}